<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/account">

<head lang="zh">
    <title>角色管理</title>

    <script src="../../../../static/js/jquery-validation/jquery.validate.min.js" th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
    <script src="../../../../static/js/jquery-validation/localization/messages_zh.min.js" th:src="@{/static/js/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#inputForm").validate();
        });
    </script>
</head>
<body>

<div class="col-md-10" layout:fragment="content" th:object="${entity}">
    <div class="widget-content">
        <h2>
            <span>新增角色</span>
        </h2>

        <div class="message" th:include="layouts/message-template :: content" th:if="${#vars['flash.message'] != null or #vars['flash.error'] != null}" th:remove="tag"></div>

        <form id="inputForm" action="#" th:action="@{/account/role/save}" method="post" class="form-horizontal" th:object="${entity}">
            <div class="form-body" th:include="account/role/form :: content"></div>

            <div class="row">
                <div class="col-md-7 button-panel">
                    <button id="btnCreate" class="btn btn-success">提交</button>
                    <button id="btnBack" onclick="javascript:history.go(-1)" class="btn btn-default">点击此处返回</button>
                </div>
            </div>
        </form>


    </div>
</div>



</body>
</html>