<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>爱上丰婷养生会馆-中国美胸产业倡导者</title>
    <meta name="description" content="爱上丰婷养生会馆">
    <meta name="keywords" content="爱上丰婷养生会馆">
    <meta name="author" content="爱上丰婷养生会馆">
    <link rel="icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../static/css/index.css?r=11"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div>
    <a title="爱上丰婷养生会馆"><img class="img-responsive" src="http://www.biboting.com/style/img/index-banner.jpg"/></a>
</div>

<div class="phone-tip">
<p>如需帮助，请拨打：<a><span class="glyphicon glyphicon-phone-alt"></span> 13654091610</a></p>
<p>（周一至周日9:00 - 18:00）</p>
</div>

<div class="nav bottom">
    <ul class="row text-center">
        <li class="col-xs-4 col-sm-4 active">
            <a>
                <span class="block icon glyphicon glyphicon-home w100"></span>
                <span class="block text">丰婷首页</span>
            </a>
        </li>
        <li class="col-xs-4 col-sm-4 border-left">
            <a>
                <span class="block icon glyphicon glyphicon-th-large w100"></span>
                <span class="block text">最新活动</span>
            </a>
        </li>

        <li class="col-xs-4 col-sm-4 border-left">
            <a href="/wx/my-account">
                <span class="block icon glyphicon glyphicon-user w100"></span>
                <span class="block text">个人中心</span>
            </a>
        </li>
    </ul>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
