<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">

<head lang="zh">
    <title>客户档案</title>
    <script src="../../../../static/js/jquery-validation/jquery.validate.min.js"
            th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
    <script src="../../../../static/js/jquery-validation/localization/messages_zh.min.js"
            th:src="@{/static/js/jquery-validation/localization/messages_zh.min.js}"></script>
    <script src="../../../../static/js/my97/WdatePicker.js" th:src="@{/static/js/my97/WdatePicker.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#inputForm").validate();
        });
    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="widget-content">
        <h2>
            <span>客户档案</span>
            <a class="back" href="/customer/list">返回></a>
        </h2>

        <div class="message" th:include="layouts/message-template :: content"
             th:if="${#vars['flash.message'] != null or #vars['flash.error'] != null}" th:remove="tag"></div>

        <form id="inputForm" action="#" th:action="@{/customer/update}" method="post" class="form-horizontal"
              th:object="${entity}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <table class="table table-bordered" style="margin: 20px 0;">
                <tbody>
                <tr>
                    <td class="lb">微信头像</td>
                    <td class="value"><img style=" height: 30px;width: 30px" th:src="${entity.headImgUrl}"></td>
                    <td class="lb">微信昵称</td>
                    <td class="value" th:text="${entity.nickName}"></td>
                </tr>
                <tr>
                    <td class="lb">客户名称</td>
                    <td class="value">
                        <input type="text" class="form-control input-sm" maxlength="50" data-rule-required="true"
                               th:field="*{realName}" th:errorclass="field-error"/>
                        <label class="error" th:if="${#fields.hasErrors('realName')}" th:errors="realName"></label>
                    </td>
                    <td class="lb">联系电话</td>
                    <td class="value">
                        <input type="text" class="form-control input-sm" maxlength="50" data-rule-required="true"
                               th:field="*{phone}" th:errorclass="field-error"/>
                        <label class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="main-panel">
                <div class="row">
                    <div class="col-md-7 button-panel">
                        <button id="btnCreate" class="btn btn-success">提交</button>
                        <a id="btnBack" th:href="@{/customer/list}" class="btn btn-default">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>

