<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base">

<head lang="zh">
    <title>系统配置管理</title>

    <script src="../../../../static/js/jquery-validation/jquery.validate.min.js" th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
    <script src="../../../../static/js/jquery-validation/localization/messages_zh.min.js" th:src="@{/static/js/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#inputForm").validate();
        });
    </script>
</head>
<body>

<div class="col-md-10" layout:fragment="content">
    <div class="widget-content">
        <h2>
            <span th:text="${entity.title}"></span>
        </h2>

        <div class="message" th:include="layouts/message-template :: content" th:if="${#vars['flash.message'] != null or #vars['flash.error'] != null}" th:remove="tag"></div>

        <form id="inputForm" action="#" th:action="@{/wechat/customer/send/{id}(id=${cid})}" method="post" class="form-horizontal">
            <div class="form-body">
                <input type="hidden" name="id" th:value="${entity.id}" />

                <div class="form-group" th:each="r ,stat:${entity.templateParams}">
                    <label class="col-md-2 control-label" for="name"><span th:text="${r.title}" th:remove="tag"></span><span class="indicator">*</span></label>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-sm" maxlength="100" data-rule-required="true" th:name="${r.key}" th:value="${r.value}" required="required"/>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-7 button-panel">
                    <button id="btnEdit" type="submit" class="btn btn-success">提交</button>
                </div>
            </div>
        </form>


    </div>
</div>



</body>
</html>