<!DOCTYPE html>
<html>
<head lang="zh">
    <title>系统公告详情</title>
</head>
<body>
<div class="col-md-10" layout:fragment="content">
    <div class="widget-content">
        <h2>
            <span onclick = 'createOrder()'>公众号支付测试</span>
            <input type="hidden"  id="openId" name="openId" th:value="openId"/>
            <input type="hidden"  id="timestamp" name="timestamp" th:value="${timestamp}"/>
            <input type="hidden"  id="nonceStr" name="nonceStr" th:value="${nonceStr}"/>
            <input type="hidden"  id="signature" name="signature" th:value="${signature}"/>
        </h2>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
   /*
   var timestamp = $("#timestamp").val(); 
   var nonceStr = $("#nonceStr").val(); 
   var signature = $("#signature").val(); 
  wx.config({
      debug: false,
      appId: 'wx0ca51c740253dd75',
      timestamp: timestamp,
      nonceStr: nonceStr,
      signature: signature,
      jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'onMenuShareQZone',
        'chooseWXPay'
      ]
  });
  */
  
  function createOrder(openid) {
	  var openid = $("#openId").val(); 
	  $.ajax({
		    url:'/wechat/order/create/' + openid,
		    type:'POST', //GET
		    async:true,    //或false,是否异步
		    data:{
		        name:'yang',age:25
		    },
		    timeout:5000,    //超时时间
		    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
		    beforeSend:function(xhr){
		        console.log(xhr)
		        console.log('发送前')
		    },
		    success:function(data,textStatus,jqXHR){
		        console.log(data)
		        var timeStamp = data.timeStamp;
		        var nonceStr = data.nonceStr;
		        var pkg = data.pkg;
		        var signType = data.signType;
		        var paySign = data.paySign;
		        onBridgeReady(timeStamp, nonceStr, pkg, signType, paySign)
		        console.log(textStatus)
		        console.log(jqXHR)
		    },
		    error:function(xhr,textStatus){
		        console.log('错误')
		        console.log(xhr)
		        console.log(textStatus)
		    },
		    complete:function(){
		        console.log('结束')
		    }
		})
  }
  
  function onBridgeReady(timeStamp, nonceStr, pkg, signType, paySign){
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest', {
	           "appId":"wx0ca51c740253dd75",     //公众号名称，由商户传入     
	           "timeStamp":timeStamp,         //时间戳，自1970年以来的秒数     
	           "nonceStr":nonceStr, //随机串     
	           "package":pkg,     
	           "signType":signType,         //微信签名方式：     
	           "paySign":paySign //微信签名 
	       },
	       function(res){     
	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	       }
	   ); 
	}
	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	   }else if (document.attachEvent){
	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	   }
	}else{
	   onBridgeReady();
	}
</script>
</body>
</html>