<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  layout:decorator="layouts/main">

<head lang="zh">
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../static/css/tablesorter.css"
          th:href="@{/static/css/tablesorter.css}"/>
    <script src="../../../../static/js/traffic-table.js" th:src="@{/static/js/traffic-table.js}"></script>
    <script src="../../../../static/js/my97/WdatePicker.js" th:src="@{/static/js/my97/WdatePicker.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchTable").searchTable();
        });
    </script>
</head>
<body>

<div class="col-md-10" layout:fragment="content">
    <div class="widget-content">
        <h2>
            <span>管理</span>

            <div class="operation">
                <span>
                    <a href="#" class="btn btn-sm btn-default" th:href="@{/memberMenu/create}">+ 新增</a>
                </span>
            </div>

        </h2>

        <form id="searchForm" action="#" method="get" th:action="@{/memberMenu/list}" class="form-inline space-well">
            <div th:include="layouts/search-form :: search-params" th:remove="tag"></div>

            <div class="form-group form-group-sm">
                <button type="submit" class="btn btn-default btn-sm">搜索</button>
            </div>
        </form>

        <div class="well well-sm" th:inline="text">
            共[[${page.totalElements}]]条数据，分[[${page.totalPages}]]页
        </div>

        <div class="message" th:include="layouts/message-template :: content" th:if="${#vars['flash.message'] != null or #vars['flash.error'] != null}" th:remove="tag"></div>


        <table id="searchTable" class="table table-hover table-striped tablesorter-bootstrap">
            <thead>
            <tr>
                <th class="tablesorter-header" data-prop="actionType">actionType</th>
                <th class="tablesorter-header" data-prop="member">member</th>
                <th class="tablesorter-header" data-prop="menu">menu</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r,stat : ${page.content}">
                <td th:text="${r.actionType}">actionType</td>
                <td th:text="${r.member}">member</td>
                <td th:text="${r.menu}">menu</td>
                <td>
                    <a href="#" th:href="@{/memberMenu/show/{id}(id=${r.id})}">详细</a>
                    &nbsp;|
                    <a href="#" th:href="@{/memberMenu/edit/{id}(id=${r.id})}">编辑</a>
                    &nbsp;|
                    <a class="delete" href="#" th:href="@{/memberMenu/delete/{id}(id=${r.id})}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center pagination-wrapper" th:include="layouts/page :: pagination"></div>
    </div>
</div>
</body>
</html>