<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main">
<head lang="zh">
    <title>系统公告详情</title>
</head>
<body>
<div class="col-md-10" layout:fragment="content">
    <div class="widget-content">
        <h2>
            <span>系统公告详情</span>
        </h2>

        <div class="main-panel">
            <div class="detail-panel">

                <div class="row">
                    <label class="col-md-1 control-label">标题:</label>
                    <div class="col-md-3" th:text="${entity.title}"></div>
                </div>
                <div class="row">
                    <label class="col-md-1 control-label">发布日期:</label>
                    <div class="col-md-3" th:text="${#dates.format(entity.publishedDate, #messages.msg('app.date_format'))}"></div>
                </div>
                <div class="row no-hover">
                    <div class="col-md-11 doc-cnt" th:utext="${entity.content}">

                    </div>
                </div>


                <div class="row">
                    <label class="col-md-2 control-label">创建人:</label>
                    <div class="col-md-2" th:text="${entity.createdBy}"></div>

                    <label class="col-md-2 control-label">创建时间:</label>
                    <div class="col-md-2" th:text="${#dates.format(entity.createdDate, #messages.msg('app.datetime_format'))}"></div>
                </div>
                <div class="row">
                    <label class="col-md-2 control-label">最后修改人:</label>
                    <div class="col-md-2" th:text="${entity.lastModifiedBy}"></div>
                    <label class="col-md-2 control-label">最后修改时间:</label>
                    <div class="col-md-2" th:text="${#dates.format(entity.lastModifiedDate, #messages.msg('app.datetime_format'))?:''}" th:if="${entity.lastModifiedDate!=null}"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>