<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main">
<head lang="zh">
    <title>修改密码</title>

    <script src="../../../../static/js/jquery-validation/jquery.validate.min.js" th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
    <script src="../../../../static/js/jquery-validation/localization/messages_zh.min.js" th:src="@{/static/js/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#inputForm").validate({
                rules: {
                    newPassword: "required",
                    newPassword1: {
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    newPassword1: "两次输入的新密码必须一致"
                }
            });
        });
    </script>
</head>
<body>

<div class="col-md-10" layout:fragment="content" th:object="${entity}">
    <div class="widget-content">
        <h2>
            <span>修改密码</span>
        </h2>

        <div class="message" th:include="layouts/message-template :: content" th:if="${#vars['flash.message'] != null or #vars['flash.error'] != null}" th:remove="tag"></div>

        <form id="inputForm" action="#" th:action="@{/account/profile/update-password}" method="post" class="form-horizontal">
            <div class="form-body" th:fragment="content">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="password">请输入旧密码<span class="indicator">*</span>:</label>
                    <div class="col-md-4">
                        <input type="password" id="password" name="password" data-rule-required="true" class="form-control input-sm" required="required" data-rule-minlength="6" data-rule-maxlength="25"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="newPassword">请输入新密码<span class="indicator">*</span>:</label>
                    <div class="col-md-4">
                        <input type="password" id="newPassword" name="newPassword" data-rule-required="true" class="form-control input-sm" required="required" data-rule-minlength="6" data-rule-maxlength="25"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="newPassword">再次输入新密码<span class="indicator">*</span>:</label>
                    <div class="col-md-4">
                        <input type="password" id="newPassword1" data-rule-required="true" class="form-control input-sm" required="required" data-rule-minlength="6" data-rule-maxlength="25"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 button-panel">
                    <button id="btnEdit" type="submit" class="btn btn-success">提交</button>
                </div>
            </div>
        </form>


    </div>
</div>



</body>
</html>